@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Source+Sans+Pro&family=Tourney:wght@300&display=swap");
.grid__container .tercer__item img, .grid__container .cuarto__item img, .grid__container .quinto__item img, .grid__container .sexto__item img, .grid__container .septimo__item img, .grid__container .octavo__item img {
  width: 100%;
  height: 100%;
  transition-duration: 3s; }
  .grid__container .tercer__item img:hover, .grid__container .cuarto__item img:hover, .grid__container .quinto__item img:hover, .grid__container .sexto__item img:hover, .grid__container .septimo__item img:hover, .grid__container .octavo__item img:hover {
    transform: scale(1.05); }

/*------------------------------Inicio Reset---------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Times New Roman", Times, serif !important;
  color: black; }

/*-------------------------------Fin Reset-----------------------------------*/
/*------------------------------Inicio header--------------------------------*/
header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1; }
  header h1 {
    font-family: 'Tourney', cursive;
    text-align: center;
    padding: 1%;
    margin: auto;
    font-size: 48px;
    color: #dedf0c;
    background-color: black; }
  header .navbar {
    background-color: #dedf0c; }
    header .navbar .container-fluid .navbar-brand {
      margin: auto;
      padding: 8px; }
    header .navbar .container-fluid .navbar-toggler {
      color: #dee2e6;
      border-color: #dedf0c; }
    header .navbar .container-fluid .collapse navbar-collapse .navbar-nav me-auto mb-2 mb-lg-0 .nav-item .nav-link active {
      color: #dedf0c; }
    header .navbar .container-fluid .collapse navbar-collapse .navbar-nav me-auto mb-2 mb-lg-0 .nav-item .dropdown .dropdown-menu li .dropdown-item {
      display: block;
      width: 100%;
      padding: 0.25rem 1rem;
      clear: both;
      font-weight: 400;
      color: #dedf0c;
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      background-color: rgba(0, 0, 0, 0.795);
      border: 0; }

/*-------------------------------Fin Header----------------------------------*/
/*----------------------------Inicio Section Hero---------------------------*/
.hero {
  background-image: url("../images/20230223_200403.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  margin-bottom: 75px; }
  .hero .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .hero .hero__container h2 {
      margin: auto;
      padding: 20px;
      font-size: 40px;
      animation-name: jec;
      animation-duration: 3s;
      animation-timing-function: ease;
      animation-direction: initial;
      animation-delay: 1s; }

@keyframes jec {
  from {
    margin-left: 100%;
    width: 100%; }
  to {
    margin-left: 5%;
    width: 100%; } }
    .hero .hero__container p {
      margin: auto;
      padding: 10px;
      font-size: 20px;
      font-weight: bold;
      transition-duration: 3s;
      transition-timing-function: ease-in-out; }
      .hero .hero__container p:hover {
        color: red;
        font-size: 22px; }
  .hero .button {
    border-radius: 15px;
    padding: 10px;
    margin: 25px;
    width: 150px;
    background-color: black;
    transition-duration: 3s; }
    .hero .button:hover {
      transform: scale(1.1); }
    .hero .button a {
      text-decoration: none;
      color: #dedf0c;
      font-weight: bold;
      font-size: 16px; }

/*----------------------------Fin Section Hero-------------------------------*/
/*-------------------------Inicio Section Galery-----------------------------*/
.galery {
  background-color: black;
  margin: auto;
  padding: 25px;
  margin: 45px 25px;
  text-align: center; }
  .galery img {
    width: 18%;
    height: 130px; }

/*--------------------------Fin Section Galery-------------------------------*/
/*-----------------------Inicio Section Products-----------------------------*/
.products h2 {
  margin: auto;
  text-align: center;
  font-size: 24px;
  font-weight: bold; }

.products .container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: black;
  padding: 35px;
  text-align: center;
  flex-wrap: wrap; }
  .products .container .product__container {
    width: 250px;
    height: 330px;
    background-color: #dedf0c; }
    .products .container .product__container .product__container__image {
      width: 230px;
      margin: 15px 0px; }
    .products .container .product__container .product__container__paragraph {
      font-size: 20px;
      font-weight: bold;
      background-color: black;
      width: 90%;
      margin: auto;
      color: #dedf0c;
      padding: 10px; }
    .products .container .product__container .product__container__button {
      background-color: black;
      color: #dedf0c;
      padding: 5px;
      margin: 10px;
      border-radius: 8%;
      font-weight: bold;
      transition-duration: 3s; }
      .products .container .product__container .product__container__button:hover {
        transform: scale(1.1);
        background-color: #820c0c; }

/*-------------------------Fin Section Products------------------------------*/
/*------------------------Inicio Page Photographs----------------------------*/
.photograph .photograph__galery {
  width: 100%;
  margin: 100px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  flex-wrap: wrap;
  padding: 20px;
  background-color: black;
  column-gap: 30px;
  row-gap: 30px; }
  .photograph .photograph__galery .photograph__galery__container {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    text-align: center;
    padding: 15px;
    background-color: #dedf0c;
    border-radius: 5px;
    transition-duration: 3s; }
    .photograph .photograph__galery .photograph__galery__container:hover {
      transform: scale(1.1); }
    .photograph .photograph__galery .photograph__galery__container img {
      width: 100%;
      height: 50%;
      border: 1px solid black;
      border-radius: 5px; }
    .photograph .photograph__galery .photograph__galery__container h2 {
      padding: 10px;
      background-color: rgba(64, 49, 49, 0.368);
      margin: 5px;
      width: 80%;
      margin: auto;
      border-radius: 5px;
      font-size: 28px; }
    .photograph .photograph__galery .photograph__galery__container p {
      padding: 10px;
      font-size: 20px;
      font-weight: bold;
      color: #dedf0c;
      background-color: black;
      width: 50%;
      margin: auto;
      border-radius: 10px;
      border: 1px solid #dedf0c;
      box-shadow: 11px 13px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 11px 13px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 11px 13px 5px 0px rgba(0, 0, 0, 0.75);
      transition-duration: 3s;
      cursor: pointer; }
      .photograph .photograph__galery .photograph__galery__container p:hover {
        box-shadow: -15px -13px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -15px -13px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -15px -13px 5px 0px rgba(0, 0, 0, 0.75); }

/*-----------------------------Fin Page Photographs--------------------------*/
/*------------------------------Inicio Page Videos---------------------------*/
.video {
  width: 100%;
  height: 1500px; }
  .video .video__galery {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #dedf0c;
    margin-top: 100px;
    border-radius: 5px; }
    .video .video__galery .video__galery__container {
      border-top: 15px solid black;
      border-bottom: 10px solid black;
      border-radius: 5px;
      background-color: #dedf0c; }
      .video .video__galery .video__galery__container .market {
        background-color: rgba(0, 0, 0, 0.507);
        border-radius: 5px;
        width: 100%;
        height: 60px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-around; }
        .video .video__galery .video__galery__container .market button {
          width: 50%;
          height: 30px;
          border-radius: 5px;
          margin-top: 12.5px;
          margin: 15px;
          font-weight: bold;
          color: white;
          transition-duration: 3s;
          cursor: pointer;
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }
          .video .video__galery .video__galery__container .market button:hover {
            transform: scale(1.1);
            box-shadow: -4px -3px 5px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -4px -3px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -4px -3px 5px 0px rgba(0, 0, 0, 0.75); }
        .video .video__galery .video__galery__container .market .market__buyit {
          background-color: green; }
        .video .video__galery .video__galery__container .market .market__sellit {
          background-color: red; }

/*---------------------------Fin Page Videos---------------------------------*/
/*-----------------------Inicio Page Blog Categories-------------------------*/
.grid__container {
  border: 1px solid #dedf0c;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  column-gap: 10px;
  row-gap: 10px; }
  .grid__container .grid__item {
    border: 1px solid black;
    background-color: #dedf0c;
    font-size: 22px;
    padding: 10px;
    text-align: center; }
  .grid__container .primer__item {
    grid-column: 1 / 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .grid__container .primer__item button {
      width: 180px;
      height: 40px;
      border-radius: 10px;
      background-color: black;
      box-shadow: 11px 13px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 11px 13px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 11px 13px 5px 0px rgba(0, 0, 0, 0.75);
      transition-duration: 3s; }
      .grid__container .primer__item button a {
        text-decoration: none;
        color: #dedf0c; }
      .grid__container .primer__item button:hover {
        transform: scale(1.1);
        background-color: #dedf0c;
        box-shadow: -15px -13px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -15px -13px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -15px -13px 5px 0px rgba(0, 0, 0, 0.75); }
        .grid__container .primer__item button:hover a {
          text-decoration: none;
          font-size: 22px;
          font-weight: bold;
          color: #dedf0c;
          text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
          transition-duration: 3s; }
          .grid__container .primer__item button:hover a:hover {
            color: black; }
  .grid__container .segundo__item {
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column; }
    .grid__container .segundo__item h2 {
      font-size: 80%;
      background-color: black;
      color: #dedf0c;
      border-radius: 5px;
      padding: 10px;
      margin: auto;
      width: 100%;
      transition-duration: 3s; }
      .grid__container .segundo__item h2:hover {
        transform: scale(1.05); }
    .grid__container .segundo__item p {
      text-align: justify;
      margin: auto;
      padding: 5px;
      font-size: 14px; }
      .grid__container .segundo__item p a {
        text-decoration: none;
        color: red; }
  .grid__container .noveno__item {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .grid__container .noveno__item h2 {
      font-size: 24px;
      margin: 5px; }
    .grid__container .noveno__item p {
      font-size: 20px;
      margin: 5px; }

/*-------------------------Fin Page Blog Categories--------------------------*/
/*--------------------------Inicio Page About us-----------------------------*/
.aboutus {
  width: 100%;
  height: 500px;
  text-align: center;
  background-color: black;
  color: #dedf0c;
  font-size: 20px;
  border: 2px solid #dedf0c;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 45px;
  line-height: 25px; }
  .aboutus h2 {
    padding: 10px;
    margin: 10px; }
  .aboutus p {
    padding: 10px;
    margin: auto; }

/*----------------------------Fin Page About us------------------------------*/
/*-----------------------Inicio Page Sign up-(Log in)------------------------*/
.sign__up {
  background-color: black;
  color: #dedf0c;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
  font-size: 22px;
  border: 2px solid #dedf0c; }
  .sign__up h2 {
    padding: 5px;
    margin: 5px; }
  .sign__up p {
    margin: 5px; }
  .sign__up .sign__up__form {
    padding: 5px;
    margin: 5px; }
  .sign__up .sign__up__form__major div {
    padding: 5px;
    display: flex;
    justify-content: space-between; }
    .sign__up .sign__up__form__major div input {
      margin: 0px 25px;
      width: 200px;
      border-radius: 10px; }
  .sign__up .sign__up__form__major .button__submit {
    display: flex;
    justify-content: center; }
    .sign__up .sign__up__form__major .button__submit .submit {
      background-color: #dedf0c;
      color: black;
      height: 40px;
      border-radius: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 3px; }

/*---------------------------Fin Page Sign up-(Log in)-----------------------*/
/*-------------------Inicio Page Blog categories z_blog_caba-----------------*/
body .grid__container__caba {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px 200px 1100px 100px;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-areas: "upper upper upper" "nav nav nav" "main main aside" "footer footer footer"; }
  body .grid__container__caba .upper__caba {
    width: 100%;
    margin: auto;
    grid-area: upper; }
  body .grid__container__caba .nav__caba {
    width: 100%;
    background-color: #dedf0c;
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid black; }
    body .grid__container__caba .nav__caba button {
      background-color: black;
      border-radius: 10px;
      width: 180px;
      height: 40px;
      margin: auto;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      transition-duration: 3s; }
      body .grid__container__caba .nav__caba button:hover {
        background-color: #dedf0c;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        transform: scale(1.1);
        margin: auto; }
      body .grid__container__caba .nav__caba button a {
        text-decoration: none;
        color: #dedf0c;
        transition-duration: 3s;
        font-weight: bold;
        font-size: 16px; }
        body .grid__container__caba .nav__caba button a:hover {
          color: black;
          font-size: 18px; }
  body .grid__container__caba .main__caba {
    width: 100%;
    background-color: #dedf0c;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid black; }
    body .grid__container__caba .main__caba img {
      width: 75%;
      height: 20%;
      border: 1px solid black;
      border-radius: 5px;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      transition-duration: 3s; }
      body .grid__container__caba .main__caba img:hover {
        transform: scale(1.2);
        box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.75); }
  body .grid__container__caba .aside__caba {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.976);
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #dedf0c; }
    body .grid__container__caba .aside__caba h2 {
      background-color: #dedf0c;
      border-radius: 5px;
      padding: 10px;
      margin: 5px; }
    body .grid__container__caba .aside__caba button {
      height: 50px;
      margin: 5px;
      border-radius: 5px;
      background-color: red;
      transition-duration: 3s; }
      body .grid__container__caba .aside__caba button:hover {
        transform: scale(1.1);
        background-color: white; }
      body .grid__container__caba .aside__caba button a {
        text-decoration: none;
        color: black;
        padding: 10px;
        font-weight: bold;
        font-size: 16px;
        transition-duration: 3s; }
        body .grid__container__caba .aside__caba button a:hover {
          color: red; }
  body .grid__container__caba .footer__caba {
    width: 100%;
    background-color: #dedf0c;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black; }

/*-------------------Fin Page Blog categories z_blog_caba-----------------*/
/*-----------------------------Inicio Footer---------------------------------*/
.footer .foot__section {
  display: flex;
  background-color: #0a0a0a;
  padding: 40px 10px;
  flex-wrap: wrap;
  justify-content: space-between; }
  .footer .foot__section .foot__section__company {
    display: flex;
    flex-direction: column;
    color: #dedf0c;
    padding: 10px;
    height: 100%; }
    .footer .foot__section .foot__section__company h2 {
      margin: 10px 5px;
      border-bottom: #dedf0c 1px solid; }
    .footer .foot__section .foot__section__company p {
      margin: auto;
      padding: 5px; }
    .footer .foot__section .foot__section__company a {
      text-decoration: none;
      color: #dedf0c;
      padding: 5px;
      font-weight: bold; }
  .footer .foot__section .foot__section__company__contact {
    margin-top: 15px;
    display: flex;
    flex-direction: column; }
    .footer .foot__section .foot__section__company__contact input {
      margin: 5px 0px;
      padding: 5px;
      border-radius: 5px;
      background-color: #dedf0c;
      color: #dedf0c;
      text-align: center; }
    .footer .foot__section .foot__section__company__contact button {
      margin: 5px 0px;
      padding: 5px;
      border-radius: 5px;
      background-color: #dedf0c;
      font-weight: bold;
      font-size: 15px; }

.footer .media {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background-color: black; }
  .footer .media a {
    text-decoration: none;
    color: #dedf0c;
    margin: auto;
    font-weight: bold; }
    .footer .media a img {
      display: block;
      margin: 15px auto; }

.footer .rights {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: black;
  color: #dedf0c;
  align-items: center;
  margin: auto;
  padding: 10px; }
  .footer .rights p {
    padding: 3px;
    margin: auto; }

/*-------------------------------Fin Footer----------------------------------*/
/*---------------------------Inicio Media Query--------------------------------*/
@media screen and (max-width: 1000px) {
  .navbar .container-fluid .navbar-brand img {
    display: none; } }

@media screen and (max-width: 750px) {
  header h1 {
    font-size: 38px;
    color: #dedf0c;
    background-color: black; }
  .hero .hero__container h2 {
    font-size: 32px; }
  .hero .hero__container p {
    font-size: 16px;
    margin: 10px; }
  .galery {
    padding: 15px;
    margin-bottom: 35px; }
    .galery .galery img {
      width: 15%;
      height: 110px; }
  .footer .foot__section {
    padding: 30px 10px; }
    .footer .foot__section .foot__section__company {
      padding: 8px;
      font-size: 16px; }
  .media a img {
    width: 32px;
    height: 32px; }
  .rights {
    height: 50px;
    padding: 10px;
    font-size: 12px; }
    .rights .rights p {
      padding: 5px; } }

@media screen and (max-width: 650px) {
  .galery {
    display: none; } }

@media screen and (max-width: 930px) {
  .container {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 35px; } }
  @media screen and (max-width: 930px) and (max-width: 585px) {
    .container .container {
      height: 600px; } }

@media screen and (max-width: 930px) and (max-width: 585px) and (max-width: 515px) {
  .container .container {
    height: 800px; } }

@media screen and (max-width: 930px) {
    .container .product__container {
      width: 160px;
      height: 210px;
      padding: 10px;
      margin: 5px; }
      .container .product__container .product__container img {
        width: 135px;
        padding-top: 5px;
        padding-bottom: 5px; }
      .container .product__container .product__container p {
        font-size: 12px;
        padding-bottom: 10px;
        width: 80%;
        padding-top: 5%;
        margin-bottom: 5px; } }

@media screen and (max-width: 940px) {
  .photograph .photograph__galery .photograph__galery__container h2 {
    font-size: 20px;
    padding: 5px;
    width: 75%;
    margin: 5px auto; }
  .photograph .photograph__galery .photograph__galery__container p {
    font-size: 15px;
    padding: 5px; } }

@media screen and (max-width: 825px) {
  .photograph .photograph__galery {
    padding: 5px;
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 825px) and (max-width: 600px) {
  .photograph .photograph__galery {
    grid-template-columns: repeat(1, 1fr); } }

@media screen and (max-width: 615px) {
  .video {
    height: 900px; } }

@media screen and (max-width: 1230px) {
  .grid__container .segundo__item {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .grid__container .segundo__item h2 {
      width: 200px;
      margin: 10px 5px;
      font-size: 20px; }
    .grid__container .segundo__item p {
      font-size: 18px;
      margin: 5px 2px;
      padding: 5px; }
  .tercer__item {
    grid-column: 1 / 3; }
  .cuarto__item {
    grid-column: 3 / 5; }
  .quinto__item {
    grid-column: 1 / 3; }
  .sexto__item {
    grid-column: 3 / 5; }
  .septimo__item {
    grid-column: 1 / 3; }
  .octavo__item {
    grid-column: 3 / 5; } }

@media screen and (max-width: 680px) {
  .grid__container .segundo__item h2 {
    width: 180px;
    margin: 1px;
    padding: 1px;
    font-size: 18px; }
  .grid__container .segundo__item p {
    font-size: 15px;
    margin: 1px;
    padding: 1px; } }

@media screen and (max-width: 499px) {
  .tercer__item {
    grid-column: 1 / 5; }
  .cuarto__item {
    grid-column: 1 / 5; }
  .quinto__item {
    grid-column: 1 / 5; }
  .sexto__item {
    grid-column: 1 / 5; }
  .septimo__item {
    grid-column: 1 / 5; }
  .octavo__item {
    grid-column: 1 / 5; } }

@media screen and (max-width: 874px) {
  .aboutus {
    width: 100%;
    height: 800px;
    font-size: 24px;
    border: 2px solid #dedf0c;
    margin-top: 15px;
    padding: 45px; }
    .aboutus .aboutus h2 {
      padding: 10px; }
    .aboutus .aboutus p {
      padding: 10px; } }

@media screen and (max-width: 645px) {
  .aboutus {
    font-size: 22px;
    margin-top: 5px;
    padding: 25px; }
    .aboutus .aboutus h2 {
      padding: 5px; }
    .aboutus .aboutus p {
      padding: 5px; } }

@media screen and (max-width: 550px) {
  .aboutus {
    width: 100%;
    height: 1000px;
    font-size: 18px;
    margin-top: 1px;
    padding: 10px; }
    .aboutus .aboutus h2 {
      padding: 1px; }
    .aboutus .aboutus p {
      padding: 1px; } }

@media screen and (max-width: 650px) {
  .sign__up {
    margin-top: 10px;
    font-size: 18px; }
    .sign__up .sign__up__form {
      font-size: 20px; } }

@media screen and (max-width: 585px) {
  .sign__up {
    font-size: 12px;
    margin: 5px auto; }
    .sign__up .sign__up__form {
      font-size: 20px; } }

@media screen and (max-width: 820px) {
  body .grid__container__caba {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px 200px 1100px 200px 100px;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: "upper upper" "nav nav" "main main" "aside aside" "footer footer"; } }

@media screen and (max-width: 931px) {
  .grid__container__caba .aside__caba h2 {
    background-color: #dedf0c;
    border-radius: 5px;
    font-size: 20px; } }

@media screen and (max-width: 669px) {
  .grid__container__caba .nav__caba button {
    width: 120px;
    height: 30px;
    margin: auto;
    transition-duration: 3s; }
    .grid__container__caba .nav__caba button:hover {
      width: 150px;
      height: 45px;
      margin: auto; } }

@media screen and (max-width: 450px) {
  .grid__container__caba {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 100px 100px 900px 200px 100px;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: "upper" "nav" "main" "aside" "footer"; } }

/*--------------------------Fin Media Query------------------------------------*/
